* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
ul {
  list-style-type: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(253, 251, 253, 0.158);
  height: 100px;
}
.header.links {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

